body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.4;
  margin: 30px;
}

h1, h2, h3 {
  page-break-after: avoid;
}

h2 {
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

ul {
    margin: 5px 10px;
}

li {
  margin-bottom: 4px;
}

hr {
    display: none;
}

@page {
  margin: 20mm;
}
